/* your code */
table{
	width: 100%;
	background-color: royalblue;
	border-collapse: collapse;
	border: 1px solid;
	border-radius: 10px
}
tr{
	text-align: center;
}

.white{
	background-color: white;
	
}

.grey{
	background-color: gray;
}